<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Type</td>
      <td>Type2</td>
      <td>Attack</td>
      <td>Level</td>
      <td>Image</td>
    </tr>
  </thead>
  <tbody>
    @for (pokemon of pokemonList; track pokemon) {
    <tr (click)="attack(pokemon)">
      <td [class.fire]="pokemon.type === 'fire'">{{pokemon.name}}</td>
      <td>{{pokemon.type}}</td>
      <td>{{pokemon.type2 | pokemonType: '-'}}</td>
      <td>{{pokemon.attack}}</td>
      <td>{{pokemon.level}}</td>
      <td><img [src]="getPokemonImage(pokemon.name)" class="miniature" alt="pokemon.name"></td>
    </tr>
    }
  </tbody>
</table>
