<h1>{{ title }}</h1>

<h2>My Pokémon team</h2>
<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Type</td>
      <td>Type2</td>
      <td>Attack</td>
      <td>Level</td>
      <td>Image</td>
    </tr>
  </thead>
  <tbody>
    @for (pokemon of pokemonList; track pokemon) {
    <tr (click)="attack(pokemon)">
      <td [class.fire]="pokemon.type === 'fire'">{{pokemon.name}}</td>
      <td>{{pokemon.type}}</td>
      <td>{{pokemon.type2 | pokemonType: '-'}}</td>
      <td>{{pokemon.attack}}</td>
      <td>{{pokemon.level}}</td>
      <td><img [src]="getPokemonImage(pokemon.name)" class="miniature" alt="pokemon.name"></td>
    </tr>
    }
  </tbody>
</table>

<h2>Add new Pokémon</h2>
<form #myForm="ngForm" novalidate (ngSubmit)="submit(myForm)">
  <div>
    <label for="nameInput">Name:</label>
    <input type="text" name="name" id="nameInput" [(ngModel)]="pokemonForm.name" #nameFormInput="ngModel" required
      minlength="2">
    @if(nameFormInput.dirty && nameFormInput.hasError('required')) {
    <p class="text-danger">Name is required!</p>
    }
    @if(nameFormInput.dirty && nameFormInput.hasError('minlength')) {
    <p class="text-danger">Name must be 2 characters or more!</p>
    }
  </div>
  <div>
    <label for="typeInput">Type:</label>
    <input type="text" name="type" id="typeInput" [(ngModel)]="pokemonForm.type" #typeFormInput="ngModel" required>
    @if(typeFormInput.dirty && typeFormInput.hasError('required')) {
    <p class="text-danger">Type is required!</p>
    }
  </div>
  <div>
    <label for="type2Input">Type2:</label>
    <input type="text" name="type2" id="type2Input" [(ngModel)]="pokemonForm.type2">
  </div>
  <div>
    <label for="attackInput">Attack:</label>
    <input type="text" name="attack" id="attackInput" [(ngModel)]="pokemonForm.attack" #attackFormInput="ngModel"
      required>
    @if(attackFormInput.dirty && attackFormInput.hasError('required')) {
    <p class="text-danger">Attack is required!</p>
    }
  </div>
  <div>
    <label for="levelInput">Level:</label>
    <input type="number" name="level" id="levelInput" [(ngModel)]="pokemonForm.level" #levelFormInput="ngModel" required
      min="1" max="100">
    @if(levelFormInput.dirty && levelFormInput.hasError('required')) {
    <p class="text-danger">Level is required!</p>
    }
    @if(levelFormInput.dirty && (levelFormInput.hasError('min') || levelFormInput.hasError('max'))) {
    <p class="text-danger">Level must be between 1 and 100!</p>
    }
  </div>
  <button type="submit" [disabled]="myForm.invalid">Submit!</button>
</form>

<h2>Pokémon Center (prices of {{ today | date: 'dd/MM/YYYY'}})</h2>
<ul>
  <li>Pokéball {{200 | currency: 'JPY'}}</li>
  <li>Potion {{300 | currency: 'JPY'}}</li>
</ul>