<form [formGroup]="pokemonForm" novalidate (ngSubmit)="submit()">
  <div>
    <label for="nameInput">Name:</label>
    <input type="text" id="nameInput" formControlName="name">
    @if(pokemonForm.controls['name'].dirty && pokemonForm.controls['name'].hasError('required')) {
    <p class="text-danger">Name is required!</p>
    }
    @if(pokemonForm.controls['name'].dirty && pokemonForm.controls['name'].hasError('minlength')) {
    <p class="text-danger">Name must be 2 characters or more!</p>
    }
    @if(pokemonForm.controls['name'].dirty && pokemonForm.controls['name'].hasError('invalidPokemon')) {
      <p class="text-danger">Invalid Pokémon name!</p>
      }
  </div>
  <div>
    <label for="typeInput">Type:</label>
    <input type="text" id="typeInput" formControlName="type">
    @if(pokemonForm.controls['type'].dirty && pokemonForm.controls['type'].hasError('required')) {
    <p class="text-danger">Type is required!</p>
    }
    @if(pokemonForm.controls['type'].dirty && pokemonForm.controls['type'].hasError('invalidType')) {
    <p class="text-danger">Invalid type!</p>
    }
  </div>
  <div>
    <label for="type2Input">Type2:</label>
    <input type="text" id="type2Input" formControlName="type2">
    @if(pokemonForm.controls['type2']?.dirty && pokemonForm.controls['type2']?.hasError('invalidType')) {
      <p class="text-danger">Invalid type!</p>
      }
  </div>
  <div>
    @if(pokemonForm.dirty && pokemonForm.hasError('duplicateType')) {
      <p class="text-danger">Duplicate types are not allowed!</p>
    }
  </div>
  <div>
    <label for="attackInput">Attack:</label>
    <input type="text" id="attackInput" formControlName="attack">
    @if(pokemonForm.controls['attack'].dirty && pokemonForm.controls['attack'].hasError('required')) {
    <p class="text-danger">Attack is required!</p>
    }
  </div>
  <div>
    <label for="levelInput">Level:</label>
    <input type="number" id="levelInput" formControlName="level">
    @if(pokemonForm.controls['level'].dirty && pokemonForm.controls['level'].hasError('required')) {
    <p class="text-danger">Level is required!</p>
    }
    @if(pokemonForm.controls['level'].dirty && (pokemonForm.controls['level'].hasError('min') ||
    pokemonForm.controls['level'].hasError('max'))) {
    <p class="text-danger">Level must be between 1 and 100!</p>
    }
  </div>
  <button type="submit" [disabled]="!pokemonForm.valid">Submit!</button>
</form>